### La api usada fue : https://www.api-football.com/

In [ ]:
import requests
import json
import pandas as pd

In [4]:
key='30f7719247ac1b80b33e5597eb093118'

In [5]:
import http.client

conn = http.client.HTTPSConnection("v3.football.api-sports.io")

headers = {
    'x-rapidapi-host': "v3.football.api-sports.io",
    'x-rapidapi-key': "30f7719247ac1b80b33e5597eb093118"
    }

conn.request("GET", "/leagues", headers=headers)

res = conn.getresponse()
data = res.read()

In [6]:
json_data = json.loads(data)

In [7]:
json_data.keys()

dict_keys(['get', 'parameters', 'errors', 'results', 'paging', 'response'])

In [11]:
#Vamos a buscar a la liga argentina de Futbol y guardarla para explorarla

In [12]:
info_leagues=json_data["response"]

In [13]:
for x in info_leagues:
    if x['league']['name']=="Liga Profesional Argentina":
        info_season=x["seasons"]
        Liga_argentina=x

### La liga Argentina tiene ID 128

In [15]:
Liga_argentina.keys()

dict_keys(['league', 'country', 'seasons'])

In [16]:
Liga_argentina["league"]

{'id': 128,
 'name': 'Liga Profesional Argentina',
 'type': 'League',
 'logo': 'https://media.api-sports.io/football/leagues/128.png'}

In [18]:
seasons=Liga_argentina["seasons"]

### Descubrimos que la API tiene info de las temporadas 2015 a la 2023 de la liga argentina

In [39]:
year_season=[]

for x in seasons:
    year_season.append(x["year"])
    
print(year_season)

[2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

In [41]:
year_season=[str(x) for x in year_season]
print(year_season)

['2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

### En el Dadhboard de la Api encontre que el ID de River Plate es 435

In [70]:
import http.client

conn = http.client.HTTPSConnection("v3.football.api-sports.io")

headers = {
    'x-rapidapi-host': "v3.football.api-sports.io",
    'x-rapidapi-key': "30f7719247ac1b80b33e5597eb093118"
    }

conn.request("GET", "/teams/statistics?season=2022&team=435&league=128", headers=headers)

res = conn.getresponse()
data = res.read()

json_data = json.loads(data)

In [74]:
json_data["response"].keys()

dict_keys(['league', 'team', 'form', 'fixtures', 'goals', 'biggest', 'clean_sheet', 'failed_to_score', 'penalty', 'lineups', 'cards'])

In [79]:
json_data["response"]["goals"]

{'for': {'total': {'home': 40, 'away': 35, 'total': 75},
  'average': {'home': '1.9', 'away': '1.7', 'total': '1.8'},
  'minute': {'0-15': {'total': 7, 'percentage': '9.21%'},
   '16-30': {'total': 10, 'percentage': '13.16%'},
   '31-45': {'total': 12, 'percentage': '15.79%'},
   '46-60': {'total': 10, 'percentage': '13.16%'},
   '61-75': {'total': 19, 'percentage': '25.00%'},
   '76-90': {'total': 13, 'percentage': '17.11%'},
   '91-105': {'total': 5, 'percentage': '6.58%'},
   '106-120': {'total': None, 'percentage': None}}},
 'against': {'total': {'home': 22, 'away': 14, 'total': 36},
  'average': {'home': '1.0', 'away': '0.7', 'total': '0.9'},
  'minute': {'0-15': {'total': 3, 'percentage': '8.57%'},
   '16-30': {'total': 5, 'percentage': '14.29%'},
   '31-45': {'total': 5, 'percentage': '14.29%'},
   '46-60': {'total': 7, 'percentage': '20.00%'},
   '61-75': {'total': 11, 'percentage': '31.43%'},
   '76-90': {'total': 2, 'percentage': '5.71%'},
   '91-105': {'total': 2, 'percentage': '5.71%'},
   '106-120': {'total': None, 'percentage': None}}}}

In [81]:
json_data["response"]["goals"]["for"]

{'total': {'home': 40, 'away': 35, 'total': 75},
 'average': {'home': '1.9', 'away': '1.7', 'total': '1.8'},
 'minute': {'0-15': {'total': 7, 'percentage': '9.21%'},
  '16-30': {'total': 10, 'percentage': '13.16%'},
  '31-45': {'total': 12, 'percentage': '15.79%'},
  '46-60': {'total': 10, 'percentage': '13.16%'},
  '61-75': {'total': 19, 'percentage': '25.00%'},
  '76-90': {'total': 13, 'percentage': '17.11%'},
  '91-105': {'total': 5, 'percentage': '6.58%'},
  '106-120': {'total': None, 'percentage': None}}}

In [59]:
year_season

['2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

### Voy a iterar y hacer multiples llamadas a la API para que meta en un diccionario la info de varios a√±os sobre las estadisticas de goles que hizo River a sus rivales segun el momento del partido(Medido en minuto del partido)

In [199]:
import http.client

conn = http.client.HTTPSConnection("v3.football.api-sports.io")

headers = {
    'x-rapidapi-host': "v3.football.api-sports.io",
    'x-rapidapi-key': "30f7719247ac1b80b33e5597eb093118"
    }

parte1="/teams/statistics?season="
parte2="&team=435&league=128"
goals_info=[]

for x in year_season:
    conn.request("GET", parte1+x+parte2, headers=headers)
    res = conn.getresponse()
    data = res.read()
    json_data = json.loads(data)
    goals_info.append(json_data["response"]["goals"]["for"]["minute"])
    
print(goals_info)

[{'0-15': {'total': 4, 'percentage': '8.51%'}, '16-30': {'total': 8, 'percentage': '17.02%'}, '31-45': {'total': 7, 'percentage': '14.89%'}, '46-60': {'total': 6, 'percentage': '12.77%'}, '61-75': {'total': 8, 'percentage': '17.02%'}, '76-90': {'total': 13, 'percentage': '27.66%'}, '91-105': {'total': 1, 'percentage': '2.13%'}, '106-120': {'total': None, 'percentage': None}}, {'0-15': {'total': 5, 'percentage': '10.20%'}, '16-30': {'total': 6, 'percentage': '12.24%'}, '31-45': {'total': 7, 'percentage': '14.29%'}, '46-60': {'total': 8, 'percentage': '16.33%'}, '61-75': {'total': 12, 'percentage': '24.49%'}, '76-90': {'total': 9, 'percentage': '18.37%'}, '91-105': {'total': 2, 'percentage': '4.08%'}, '106-120': {'total': None, 'percentage': None}}, {'0-15': {'total': 4, 'percentage': '10.53%'}, '16-30': {'total': 4, 'percentage': '10.53%'}, '31-45': {'total': 7, 'percentage': '18.42%'}, '46-60': {'total': 7, 'percentage': '18.42%'}, '61-75': {'total': 6, 'percentage': '15.79%'}, '76-90': {'total': 9, 'percentage': '23.68%'}, '91-105': {'total': 1, 'percentage': '2.63%'}, '106-120': {'total': None, 'percentage': None}}, {'0-15': {'total': 4, 'percentage': '9.76%'}, '16-30': {'total': 8, 'percentage': '19.51%'}, '31-45': {'total': 7, 'percentage': '17.07%'}, '46-60': {'total': 7, 'percentage': '17.07%'}, '61-75': {'total': 6, 'percentage': '14.63%'}, '76-90': {'total': 9, 'percentage': '21.95%'}, '91-105': {'total': None, 'percentage': None}, '106-120': {'total': None, 'percentage': None}}, {'0-15': {'total': None, 'percentage': None}, '16-30': {'total': 8, 'percentage': '19.51%'}, '31-45': {'total': 7, 'percentage': '17.07%'}, '46-60': {'total': 10, 'percentage': '24.39%'}, '61-75': {'total': 12, 'percentage': '29.27%'}, '76-90': {'total': 3, 'percentage': '7.32%'}, '91-105': {'total': 1, 'percentage': '2.44%'}, '106-120': {'total': None, 'percentage': None}}, {'0-15': {'total': 3, 'percentage': '15.79%'}, '16-30': {'total': 3, 'percentage': '15.79%'}, '31-45': {'total': 2, 'percentage': '10.53%'}, '46-60': {'total': 1, 'percentage': '5.26%'}, '61-75': {'total': 6, 'percentage': '31.58%'}, '76-90': {'total': 4, 'percentage': '21.05%'}, '91-105': {'total': None, 'percentage': None}, '106-120': {'total': None, 'percentage': None}}, {'0-15': {'total': 10, 'percentage': '12.66%'}, '16-30': {'total': 7, 'percentage': '8.86%'}, '31-45': {'total': 13, 'percentage': '16.46%'}, '46-60': {'total': 14, 'percentage': '17.72%'}, '61-75': {'total': 22, 'percentage': '27.85%'}, '76-90': {'total': 8, 'percentage': '10.13%'}, '91-105': {'total': 3, 'percentage': '3.80%'}, '106-120': {'total': 2, 'percentage': '2.53%'}}, {'0-15': {'total': 7, 'percentage': '9.21%'}, '16-30': {'total': 10, 'percentage': '13.16%'}, '31-45': {'total': 12, 'percentage': '15.79%'}, '46-60': {'total': 10, 'percentage': '13.16%'}, '61-75': {'total': 19, 'percentage': '25.00%'}, '76-90': {'total': 13, 'percentage': '17.11%'}, '91-105': {'total': 5, 'percentage': '6.58%'}, '106-120': {'total': None, 'percentage': None}}, {'0-15': {'total': 1, 'percentage': '14.29%'}, '16-30': {'total': None, 'percentage': None}, '31-45': {'total': 1, 'percentage': '14.29%'}, '46-60': {'total': 1, 'percentage': '14.29%'}, '61-75': {'total': 2, 'percentage': '28.57%'}, '76-90': {'total': 2, 'percentage': '28.57%'}, '91-105': {'total': None, 'percentage': None}, '106-120': {'total': None, 'percentage': None}}]

In [226]:
dfs = []
for x in goals_info:
    df = pd.DataFrame.from_dict(x,orient='index')
    dfs.append(df)

df_concat = pd.concat(dfs, axis=1)

### De esta forma logre armar un DataFrame que contiene las estadisticas de los goles hechos por River desde el 2015 hasta el 2023 segun en que franja de minutos sucedio.

In [189]:
df_final=df_concat.iloc[:, [0, 2, 4,6 ,8 ,10 ,12 ,14 ,16]]
df_final

         total  total  total  total  total  total  total  total  total
0-15       4.0    5.0    4.0    4.0    NaN    3.0     10    7.0    1.0
16-30      8.0    6.0    4.0    8.0    8.0    3.0      7   10.0    NaN
31-45      7.0    7.0    7.0    7.0    7.0    2.0     13   12.0    1.0
46-60      6.0    8.0    7.0    7.0   10.0    1.0     14   10.0    1.0
61-75      8.0   12.0    6.0    6.0   12.0    6.0     22   19.0    2.0
76-90     13.0    9.0    9.0    9.0    3.0    4.0      8   13.0    2.0
91-105     1.0    2.0    1.0    NaN    1.0    NaN      3    5.0    NaN
106-120    NaN    NaN    NaN    NaN    NaN    NaN      2    NaN    NaN

### Aca como resultado final tengo los goles que hizo river por a√±o segun el momento del partido en minutos

In [190]:
df_final.columns=year_season

In [208]:
df_final

         2015  2016  2017  2018  2019  2020  2021  2022  2023
0-15      4.0   5.0   4.0   4.0   NaN   3.0    10   7.0   1.0
16-30     8.0   6.0   4.0   8.0   8.0   3.0     7  10.0   NaN
31-45     7.0   7.0   7.0   7.0   7.0   2.0    13  12.0   1.0
46-60     6.0   8.0   7.0   7.0  10.0   1.0    14  10.0   1.0
61-75     8.0  12.0   6.0   6.0  12.0   6.0    22  19.0   2.0
76-90    13.0   9.0   9.0   9.0   3.0   4.0     8  13.0   2.0
91-105    1.0   2.0   1.0   NaN   1.0   NaN     3   5.0   NaN
106-120   NaN   NaN   NaN   NaN   NaN   NaN     2   NaN   NaN

### Procedemos a completar los NaN con 0. En este caso por ser cantidad de goles por minuto correspondia poner 0 ya que no hubo goles

In [209]:
df_final.fillna(0)

         2015  2016  2017  2018  2019  2020  2021  2022  2023
0-15      4.0   5.0   4.0   4.0   0.0   3.0    10   7.0   1.0
16-30     8.0   6.0   4.0   8.0   8.0   3.0     7  10.0   0.0
31-45     7.0   7.0   7.0   7.0   7.0   2.0    13  12.0   1.0
46-60     6.0   8.0   7.0   7.0  10.0   1.0    14  10.0   1.0
61-75     8.0  12.0   6.0   6.0  12.0   6.0    22  19.0   2.0
76-90    13.0   9.0   9.0   9.0   3.0   4.0     8  13.0   2.0
91-105    1.0   2.0   1.0   0.0   1.0   0.0     3   5.0   0.0
106-120   0.0   0.0   0.0   0.0   0.0   0.0     2   0.0   0.0